
<header>
	<h1>FAQs</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">FAQs</a></li>
		<li><a href="#mobile">Bungee Jumping</a></li>
		<li><a href="#account">Paragliding</a></li>
		<li><a href="#payments">River Rafting</a></li>
		<li><a href="#privacy">Scuba diving</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>FAQs</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Adventure is about…</a>
				<div class="cd-faq-content">
					<p>Adventure is all about taking each experience, regardless if you know the outcome or not and facing it head on. It is about
						 seeing the world from a different perspective, even if you’ve seen it a million times before. It is 
						 choosing to see the beauty from the ordinary and finding ways on how to do it differently.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Want to know an overview with the details about your day?</a>
				<div class="cd-faq-content">
					<p>For details please check the package page and inidivdual page which will give you all the necessary information
						 about your day with Adventure Planet. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I create a custom itinerary and/or book a private trip? </a>
				<div class="cd-faq-content">
					<p>You can book a private trip with eight or more travelers and our team of experts is more than happy to put together 
						a custom itinerary if you have twelve or more travelers. We can put together special dates and arrangements that 
						fit your needs. Choose your destination and then call us to discuss the best time of year, accommodations, special 
						emphasis, or other considerations.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Does mobile work there?</a>
				<div class="cd-faq-content">
					<p>Well, this totally depends on the location of your adventure. At some location we have phone booth which are free to use for contacting anyone 
						in the country. Our staff help with communication using walky talky if you are lost somewhere.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Bungee Jumping</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How long does it take?</a>
				<div class="cd-faq-content">
					<p>A day of bungee jumping is a full day adventure. You will meet us at the trailhead at your designated meeting time. We will then 
					   enjoy a beautiful 5-mile hike to the bridge, spend the afternoon bungee jumping, and return on the 5-mile hike back, arriving at 
				       your car just before dark. Contact the office for specific times depending on the season</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">When will we get back to our cars?</a>
				<div class="cd-faq-content">
					<p>Their are many factors that will contribute to your return time back to your vehicle. Remember this is a full day adventure, so plan
						for a full day. If you have a plane to catch, or a pressing event afterwards call the office directly for exact details of the day.</p>
					   
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What should I wear for the hike?</a>
				<div class="cd-faq-content">
					<p>Dress in layers, comfort is the key while at the bridge, if it is cold you?ll want to be warm, if it is wet you?ll want to be dry, 
						if it is hot you?ll want to be cool. Bring all the clothes you think you will need to accomplish this. Jeans and sandals are highly 
						discouraged on the hike. Everyone will be crossing the San Gabriel River and getting their feet wet, we recommend wearing shorts and 
						running shoes or your favorite hiking shoes. Also bring dry clothes to wear once we arrive at the bridge. This will ensure that you 
						and your feet enjoy the whole experience.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How many jumps do most people do?</a>
				<div class="cd-faq-content">
					<p>Our most popular package since 1989 has been the 3 jump Supreme Package. Most people realize that after 5 miles of hiking they 
						will want to do more than 1 jump. With 3 jumps, you will have the opportunity to perform an advanced jump, such as the Ankle dive. 
						?Remember, we offer 6 unique jumps, you will be thankful you reserved more than one.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Is there a professional photographer?</a>
				<div class="cd-faq-content">
					<p>Adventure Planet does provide professional photography, but you are welcome to bring your own cameras/Go-pros. All photos 
						and videos are for personal use only and we do not share photos with anyone without your permission.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Paragliding</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What are the physical requirements?</a>
				<div class="cd-faq-content">
					<p>Our Introductory Tandem Experience package is suitable for almost anyone wishing to experience flight. While we do have a max weight 
						restriction of 250 pounds for a height/weight proportionate person, we have no age limit and are happy to take aspiring pilots from the 
						mature age of 4 to as young as you feel!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How long does it take to fly on my own?</a>
				<div class="cd-faq-content">
					<p>Short flights off the beginner hill or via our towing system usually occur by the end of the first day with any of our solo training 
						programs. To become educated enough to make your own flight decisions normally takes between 9 to 14 days of instruction. 
						Afterwards you can become certified with the United States Hang Gliding and Paragliding Association, (USHGA), as a Novice rated pilot. 
						The Novice, or Para - 2, rating indicates that you have met the minimum requirements for solo flight. We at Discover Paragliding! 
						recommend a minimum of 10 days of instruction, with our preferred average being closer to 15 days.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What about inclement weather and rescheduling?</a>
				<div class="cd-faq-content">
					<p>We request that all students check in for a weather evaluation the evening before, and oftentimes the morning of your session prior 
						to your home departure. We would prefer to not have you drive out to the coast to sit in the rain at least as much as you would! 
						That said, we do have a lot of experience with the weather out here, and often schedule flights on days that might otherwise seem 
						impossible for a vantage point that's an hour or more away.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">To fly independently and without supervision, which proof do you consider?</a>
				<div class="cd-faq-content">
					<p>To be solo pilot without supervision you need to have passing certificate for P1+ and P2+ course. During P2+ you will learn to make right decision to choose when to fly in appropriate conditions to achieve APPI Pilot certification licence.
					</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h2>River Rafting</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Is Rafting Dangerous?</a>
				<div class="cd-faq-content">
					<p>Rafting is thrilling, exciting, wet, wild and unbelievably fun. However, as with all adventure sports, there is inherent and assumed 
						risk involved. Risk contributes to the excitement, and is one of the reasons people enjoy rafting at all levels. The guides working for 
						Northwoods Adventures are trained to minimize and manage risks, and statistically speaking, you’re safer in a raft than in your car.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Will I Fall Out Of The Boat? What Should I Do If I Do?</a>
				<div class="cd-faq-content">
					<p>Plan “A” is always to stay in the boat, but believe it or not, many people love falling out of the raft, after the fact. It’s 
						exciting, but it can be disorienting and a little overwhelming at first. Many people have taken multiple trips and never fallen in. 
						Some people swim on their first trip. It’s all a part of rafting. Before you go on any trip, you’ll be given extensive instructions 
						on what to do if you fall in, and how to be a smart swimmer. Follow your guide’s instructions, and your “swim” could be the most exciting 
						part of your trip and a great story to tell your friends afterwards!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">If I Can’t Swim, Can I Still Go Rafting?</a>
				<div class="cd-faq-content">
					<p>Yes. Everyone on commercial rafting trips wears a coast guard approved ‘life vest’ or personal flotation device (PFD). This critical 
						piece of equipment is designed to aid in keeping you afloat in the event that you find yourself in the river. Many non-swimmers go on 
						rafting trips, and they have a great time. Your guides will give you an in depth and engaging safety talk before your trip explaining 
						what you should prepare for and do in the event you fall out of the raft.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How Early Should We Arrive Beforehand?</a>
				<div class="cd-faq-content">
					<p>Please arrive at least 30 minutes prior to your trip departure. If you are not familiar with the area you may want to allow some 
						extra time before your trip departure time. Make sure to get good directions before you leave home. Somehow every once in a while 
						people end up at the wrong rafting company but have had plenty of time to correct the error and arrive at the right location with 
						time to spare.</p>
				</div> <!-- cd-faq-content -->
			</li>


		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Scuba diving</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Is it safe to exercise after diving?</a>
				<div class="cd-faq-content">
					<p>Studies have shown as much as a 34 percent increase in the incidence of decompression sickness in divers who exercised immediately 
						after diving. Does that mean that other than the workout you get beneath the waves, you have to be a couch potato during your next 
						dive vacation? Probably not, as long as you take it easy and don't push yourself or your dive computer or tables. If you do exercise, 
						make intelligent decisions about how soon after diving you'll exercise, how strenuously you'll exercise and for how long.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is there to see down there?</a>
				<div class="cd-faq-content">
					<p>A whole new world of incredible sights awaits the scuba diver, no matter what the underwater environment — fresh or salt water; 
						tropical or temperate; ocean, quarry, lake or river. It shouldn’t be hard to envision yourself gliding effortlessly through a 
						crystal-clear tropical ocean, marveling at rainbow-hued fishes flitting about a vibrant coral reef. We’ve all been treated to 
						underwater scenes such as this on TV, in movies or perhaps a friend’s underwater video.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why do you need to wear weights?</a>
				<div class="cd-faq-content">
					<p>Believe it or not, the human body is quite buoyant. With your lungs full of air, you’d be hard pressed to sink, especially in salt 
						water. That’s why most people have no trouble snorkeling — when you lie flat on the surface with your head in the water, your weight 
						is easily supported, whether you weigh 100 pounds or 300 (45 kg or 136).</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How deep do you go?</a>
				<div class="cd-faq-content">
					<p>The industry standard depth limit for recreational divers is 130 feet (39 m) at sea level. During the basic scuba certification, 
						students experience depths of 30-60 feet (9-18 m), and a “deep” dive is considered more than 60 feet (18 m).</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="delivery" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Common questions...</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What about personal accident insurance?</a>
				<div class="cd-faq-content">
					<p>Personal accident insurance is available from various insurance companies. Particularly if you’re travelling with your wing, we recommend having rescue and medical cover that specifically covers paragliding. The following companies might provide this (offers change, and we do not take any responsibility for their services): Harrison Beaumont, Airsports Insurance Bureau and AXA.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is your cancellation policy?</a>
				<div class="cd-faq-content">
					<p>For our training locations in the Pacific Northwest: 
						We have a fairly liberal cancellation policy, but we would appreciate at least 48 hours advance notice to allow time to schedule 
						others to take your place. Within 24 hours there will be a 50% cancellation fee.Groups of 4 or more require 72 hours advance notice 
						for a full refund, and we reserve the right to charge a 50% cancellation fee with less than 48 hours notice.</p>
					
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Do you provide first aid?</a>
				<div class="cd-faq-content">
					<p>Yes, we do provide first aid kits to everyone who takes the package or adventure. Accidents happen and we also have a team of doctors 
						at every location to assist and take care of you and your group. We also have an emergency vehical if the accident is serious.</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul> 
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
