<div class="main-section row">
  <div class="section1 col-lg-2 col-sm-12">
    <div class="logo-section">
      <img src="../../assets/images/common/logo-footer.png">
    </div>
  </div>

  <div class="section2 col-lg-6 col-sm-12">
      <div class="contact-section col-lg-6">
          <span style="font-size:1.2em"><u><strong>Contact Us</strong></u></span><br>
          <span><i class="fas fa-phone"></i> +1 (857) 869-4562</span><br>
          <span><a href="mailto:adventureplanet@gmail.com" style="font-style:none; color: inherit;"><i class="fas fa-envelope"></i> adventureplanet@gmail.com</a></span><br>
      </div>
      <div class="help-section col-lg-6 col-sm-12"> 
          <span><i class="fas fa-hands-helping"></i>&nbsp;&nbsp;Help</span><br>
          <span><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;&nbsp;FAQs</span><br>
          <span> <i class="fas fa-user-lock"></i>&nbsp;&nbsp;Terms & Conditions</span><br>
          <span><i class="fas fa-user-secret"></i>&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policies</span><br>
      </div>
      
  </div>

  <div class="section3 col-lg-4 col-sm-12">
    <div class="socialmedia-section">
        <i class="fab fa-facebook-f fa-4x" style="size:20px"></i>  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-instagram fa-4x"></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-twitter fa-4x"></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-snapchat-ghost fa-4x"></i>

    </div>
  </div>

</div>