<div id="maindiv" >
  <h2><b>TITLE</b></h2>
  <p class="details"><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, dolor porro? Aspernatur unde perferendis voluptate similique iusto aliquid, velit id, adipisci necessitatibus vel harum blanditiis porro rem. Ex, debitis dolorum.</b></p>
  <table style="color:aliceblue;">
      <tr>
          <th>Age Group |</th>
          <td> 18+</td>
      </tr>
      <tr>
          <th>Price/ person |</th>
          <td> $100</td>
      </tr>
      <tr>
          <th>Availability |</th>
          <td>10:00 AM to 4:00 PM EST</td>
      </tr>
  </table>
  <br>
  <button class="btn btn-primary" style="margin-right: 10px;">Accomodation</button>
  <button class="btn btn-primary" style="margin-right: 10px;">Transport</button>
  <button class="btn btn-primary">Book Now</button>
</div>
