#maindiv{
    padding-top: 200px;
    height: 800px;
    z-index: 1;
    position: relative;
    margin-left: 640px;
}


body{
    margin: 0;
    padding: 0;
}
h1{
    padding: 70px;
    margin: 0;
    text-align: center;
    color: aliceblue;
}

h2{
    margin: 0;  
    color: aliceblue;
    font-family: 'Righteous', cursive;
}

#title{
    height: 200px;
    background-color: aqua;
    /* position: fixed; */
}

#wrapper{
    position: fixed;
    width: 100%;
    height: 800px;
    font-family: 'Roboto', sans-serif;

    transition: 1000ms;
    background-position: 50% 50%;
    background-size: cover;
}

#boston, #cal1, #cal2, #cal4, #cal5{
    padding-top: 200px;
    height: 800px;
    z-index: 1;
    position: relative;
    margin-left: 640px;
}

#cal3{
    height: 500px;
    z-index: 1;
    position: relative;
    margin-left: 640px;
}

.details{
    width: 250px;
    color: aliceblue;
}

/* #boston{
    padding-top: 200px;
    height: 1000px;
} */


  .colorOne{
    background-image: url("../../../assets/boston.jpg");
    opacity: 0.5;
  }
  .colorTwo{
    background-image: url("../../../assets/sf.jpg");
    opacity: 0.5;
  }
  .colorThree{
    background-image: url("../../../assets/fl.jpg");
    opacity: 0.5;
  }
  .colorFour{
    background-image: url("../../../assets/la.jpg");
    opacity: 0.5;
  }