#jumbotron-section{
    margin-top: 0% ;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 0% ;
}
.jumbotron{
    background-color: rgba(0,0,0,0);
    padding-bottom:0;
}
.display-4{
    font-family: coiny;
}

.lead{
    font-family: ZCOOL+QingKe+HuangYou;
    font-weight: 400;
    font-size: 1.4em;
}
h1:hover{
    /* color: white; */
    align-content: center;
    transform: scale(1.3);
    transition: 1s;
    /* text-align: center; */
}