<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body>
    

<!-- <app-contact-us-header-img></app-contact-us-header-img>
<app-contact-us-jumbotron></app-contact-us-jumbotron>
<app-contact-us-cards></app-contact-us-cards> -->

<img  class="imgMain" src="cu.jpg" >

<div id = "title">
    <h3 id="name"> 
        Feel free to get in touch with us. We are always open to discussing new Adventure plans,
        or opportunities and be part of your plan. 
    </h3>
  </div>
  
<div class='nextpara'>
    <aside id="inside" class="image">
  
    </aside>
  
    <!-- <div class="container">
            <img src="img_avatar.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">John Doe</div>
            </div> -->
  <br>
  <div id='all'>
    <aside id="meet">
      <h2><b>Meet Us</b></h2>
           <b>Address</b>:  Adventure Planet, 
            0804 Connaught Place, Nowhere Street, 
            Somewhere, Boston 1994<br>
                               
    <br>
  <b>Phone: </b>123.456.7890<br>
  <br>
  
  <b>Email: </b> info@adventureworld.com <br>
  <br>
  
  <b>Work with us:</b> work@adventureworld.com<br>
  
  <br>
  <b> Careers:</b> careers@adventureworld.com
    </aside>
  </div> 
  </div> <!-- end of next para-->
  
  <br><br> <br><br> <br><br> <br><br> <br><br> <br><br>
  
  <div class='nextpara'>
  <aside id="email">
                <h3 id="message"> STILL CAN'T FIND WHAT YOU'RE LOOKING FOR? </h3>
                    <form method="post" action="mailto:metha.shubh@gmail.com"> 
                        <span id="input">Name:</span> <br>
                        <input type="text" placeholder="Name" size="50" required> <br>
                        <span id="input">Email:</span> <br>
                        <input type="email" placeholder="Email"size="50" required> <br>
                        <span id="input">Message:</span> <br>
                        <textarea name="text" placeholder="Your message" rows="3" cols="53" required></textarea>
                            <br> 
                        <input id="sendbtn" type="submit" value="Send" >
                    </form>
  </aside>
  
  
  <div id='alll'>
  <aside id="meet">
    <div style="text-align:center">Location</div>
    <div style="overflow:hidden;width: 550px;position: relative;">
        <iframe width="700" height="390" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=boston+(maps)&amp;ie=UTF8&amp;t=&amp;z=7&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/es/">Embedgooglemaps.com/es/</a> & <a href="http://merrymobiles.co.uk/">loadonlineph</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br>
  </aside>
  </div> 
  </div> <!-- end of next para-->

  

</body>
</html>