<app-header></app-header>
<form (ngSubmit)="creteUser()">
    <div class="form-group col-3">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" name="firstName" id="firstName" [(ngModel)]="model.firstName"/>
    </div>
    <div class="form-group col-3">
      <label for="lastName">Last Name</label>
      <input class="form-control" class="form-control" type="text" name="lastName" id="lastName" [(ngModel)]="model.lastName"/>
    </div>
    <div class="form-group col-3">
      <label for="userName">Email</label>
      <input class="form-control" type="text" name="userName" id="userName" [(ngModel)]="model.userName"/>
    </div>
    <div class="form-group col-3">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" [(ngModel)]="model.password"/>
    </div>
    <div class="form-group col-3">
      <button class="btn btn-primary">Sign Up</button>
      <a [routerLink]="['/login']" class="btn btn-link">Login</a>
    </div>
  </form>

  <ng-template #content let-c="close" let-d="dismiss">
      <!-- <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button> 
      </div> -->
      <div class="modal-body">
          <p>{{msg}}</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="d('Cross click')">OK</button>
      </div>
  </ng-template>
