<app-header></app-header>
<div id="wrapper">
  <h1>BUNGEE JUMPING</h1>
</div>

<div id="maindiv" >
<h2><b>TITLE</b></h2>
<p class="details"><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, dolor porro? Aspernatur unde perferendis voluptate similique iusto aliquid, velit id, adipisci necessitatibus vel harum blanditiis porro rem. Ex, debitis dolorum.</b></p>
<table style="color:aliceblue;">
    <tr>
        <th>Age Group |</th>
        <td> 18+</td>
    </tr>
    <tr>
        <th>Price/ person |</th>
        <td> $100</td>
    </tr>
    <tr>
        <th>Availability |</th>
        <td>10:00 AM to 4:00 PM EST</td>
    </tr>
</table>
<br>

<a [routerLink]="['/booknow']"><button class="btns" mat-raised-button>Accomodation</button></a>
<a [routerLink]="['/booknow']"><button class="btns" mat-raised-button>Transport</button></a>
<a [routerLink]="['/booknow']"><button class="btns" mat-raised-button>Book Now</button></a>
</div>
<app-footer></app-footer>