.card-section{
    margin-top: 0%;
    margin-bottom: 5%;
}

.card-body{
    text-align: center;
}

.display-4{
    font-family: coiny;
}

.row{
    padding-top:2%;
}

.lead{
    font-family: ZCOOL+QingKe+HuangYou;
    font-weight: 400;
    font-size: 1.4em;
}
.shadow {
    -webkit-box-shadow: 24px 24px 24px 24px rgb(0, 0, 0);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    24px 24px 24px 24px rgb(0, 0, 0);  /* Firefox 3.5 - 3.6 */
    box-shadow:         24px 24px 24px 24px rgb(0, 0, 0);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    background-color: rgb(125, 126, 146);
    transform: scale(1.01);
    transition: 1s;
  }
  .dummy{
      color: blueviolet;
      font-size: 2em;
  }

  .shadow1 {
    
    background-color: rgb(208, 211, 253);
    transform: scale(1.01);
    transition: 1s;
  }

