<div > 
  <div class="card-deck" >
    <div class="container" (mouseenter)='mouseenterEvent1($event)' (mouseleave)='mouseleaveEvent1($event)'>  
        <div class="row" >

            <div class="card-section col-md-6 col-sm-12 col-lg-4" >
            <div class="card" (mouseenter)='mouseenterEvent($event)' (mouseleave)='mouseleaveEvent($event)'>
              <img src="../../assets/get-together.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Our History</h5>
                <p class="card-text">Established in Boston, United States , we’ve been helping 18-35’s plan their gap year & adventure holidays for over 25 years. Over 50,000 happy customers and counting!</p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            </div>

            <div class="card-section col-md-6 col-sm-12 col-lg-4">
            <div class="card" (mouseenter)='mouseenterEvent($event)' (mouseleave)='mouseleaveEvent($event)'>
              <img src="../../assets/group-adventure.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ultimate Trips</h5>
                <p class="card-text">We offers awesome group adventures on a budget! Our tours are packed with heaps of fun day & night activities, whilst leaving time to chill out and r-e-l-a-x. Our local accommodation has been selected to offer the best experience in each destination, from top-rated 5-star hostels to floating bamboo raft houses in the jungle.</p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            </div>

            <div class="card-section col-md-6 col-sm-12 col-lg-4">
            <div class="card" (mouseenter)='mouseenterEvent($event)' (mouseleave)='mouseleaveEvent($event)'>
              <img src="../../assets/responsible-travel.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Responsible Travel</h5>
                <p class="card-text">We believe in supporting the people and businesses in the places we visit and are proud to support local communities via our favourite charities. We’re big wildlife lovers and don’t ride elephants on any of our tours.</p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            </div>

            <div class="card-section col-md-6 col-sm-12 col-lg-4">  
            <div class="card" (mouseenter)='mouseenterEvent($event)' (mouseleave)='mouseleaveEvent($event)'>
                <img src="../../assets/crew.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Our Crew</h5>
                <p class="card-text">Our team of tour leaders, local guides and support crew are dedicated to ensuring you have the trip of a lifetime! We arrange everything for you, so your trip will be fun and hassle-free!</p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
            </div>

            <div class="card-section col-md-6 col-sm-12 col-lg-4"> 
            <div class="card" (mouseenter)='mouseenterEvent($event)' (mouseleave)='mouseleaveEvent($event)'>
                <img src="../../assets/do-more.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">See More, Do More</h5>
                <p class="card-text">We’re passionate about showing you incredible, unique locations and creating unforgettable experiences for all of our travellers. We’re experts in gap year and adventure travel and can’t wait to show you the highlights and the hidden gems!</p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
            </div>

            <div class="card-section col-md-6 col-sm-12 col-lg-4"> 
            <div class="card" (mouseenter)='mouseenterEvent($event)' (mouseleave)='mouseleaveEvent($event)'>
                <img src="../../assets/safe-with-us.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">You’re Safe with Us</h5>
                <p class="card-text">Our tour guides and support crew are here to help, before, during and after your ultimate travel adventure! Our guides are all fully licensed and first aid trained. Contact us now and we’ll help you plan your ultimate adventure!</p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
            </div>

        </div> 
    </div> 
    </div>
  </div>