
<div class="card text-center card-section ">

    <div class="card-header">
        <h1>Package Details</h1>
    </div>
  
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3 col-md-12 border1" >
        Date: {{date}}
      </div>
      <div class="col-lg-3 col-md-12 border1">
        Package Name: {{packageName}}
      </div>
      <div class="col-lg-3 col-md-12 border1">
        Time: {{time}}
      </div> 
      <div class="col-lg-3 col-md-12 border1">
        Price: {{price}}
      </div>
    </div>
  </div>
  
</div>

