<div id="wrapper">
    <h1>BUNGEE JUMPING</h1>
</div>

<div id="boston" >
    <h2><b>Boston Beauty</b></h2>
    <p class="details"><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, dolor porro? Aspernatur unde perferendis voluptate similique iusto aliquid, velit id, adipisci necessitatibus vel harum blanditiis porro rem. Ex, debitis dolorum.</b></p>
    <table style="color:aliceblue;">
        <tr>
            <th>Age Group |</th>
            <td> 18+</td>
        </tr>
        <tr>
            <th>Price/ person |</th>
            <td> $100</td>
        </tr>
        <tr>
            <th>Availability |</th>
            <td>10:00 AM to 4:00 PM EST</td>
        </tr>
    </table>
    <br>
    <button mat-raised-button style="margin-right: 10px;">Accomodation</button>
    <button mat-raised-button style="margin-right: 10px;">Transport</button>
    <a [routerLink]="['/booknow']"><button mat-raised-button>Book Now</button></a>
</div>

<div id="cal1">
    <h2><b>Charming California</b></h2>
    <p class="details"><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, dolor porro? Aspernatur unde perferendis voluptate similique iusto aliquid, velit id, adipisci necessitatibus vel harum blanditiis porro rem. Ex, debitis dolorum.</b></p>
    <table style="color:aliceblue;">
        <tr>
            <th>Age Group |</th>
            <td> 18+</td>
        </tr>
        <tr>
            <th>Price/ person |</th>
            <td> $100</td>
        </tr>
        <tr>
            <th>Availability |</th>
            <td>10:00 AM to 4:00 PM EST</td>
        </tr>
    </table>
    <br>
    <button mat-raised-button style="margin-right: 10px;">Accomodation</button>
    <button mat-raised-button style="margin-right: 10px;">Transport</button>
    <a [routerLink]="['/booknow']"><button mat-raised-button>Book Now</button></a>
</div>
<div id="cal2">
    <h2><b>Fantastic Florida</b></h2>
    <p class="details"><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, dolor porro? Aspernatur unde perferendis voluptate similique iusto aliquid, velit id, adipisci necessitatibus vel harum blanditiis porro rem. Ex, debitis dolorum.</b></p>
    <table style="color:aliceblue;">
            <tr>
                <th>Age Group |</th>
                <td> 18+</td>
            </tr>
            <tr>
                <th>Price/ person |</th>
                <td> $80</td>
            </tr>
            <tr>
                <th>Availability |</th>
                <td>10:00 AM to 5:00 PM EST</td>
            </tr>
        </table>
    <br>
    <button mat-raised-button style="margin-right: 10px;">Accomodation</button>
    <button mat-raised-button style="margin-right: 10px;">Transport</button>
    <a [routerLink]="['/booknow']"><button mat-raised-button>Book Now</button></a>
</div>
<div id="cal3">
    <h2><b>Las Vegas</b></h2>
    <p class="details"><b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, dolor porro? Aspernatur unde perferendis voluptate similique iusto aliquid, velit id, adipisci necessitatibus vel harum blanditiis porro rem. Ex, debitis dolorum.</b></p>
    <table style="color:aliceblue;">
            <tr>
                <th>Age Group |</th>
                <td> 18+</td>
            </tr>
            <tr>
                <th>Price/ person |</th>
                <td> $150</td>
            </tr>
            <tr>
                <th>Availability |</th>
                <td>10:00 AM to 4:00 PM EST</td>
            </tr>
        </table>
    <br>
    <button mat-raised-button style="margin-right: 10px;">Accomodation</button>
    <button mat-raised-button style="margin-right: 10px;">Transport</button>
    <a [routerLink]="['/booknow']"><button mat-raised-button>Book Now</button></a>
</div>
<!-- <app-footer></app-footer> -->