<app-header></app-header>

<div class="custom-card-deck container">
  <div class="row">
    <div class="custom-card col-lg-4 col-md-4 col-sm-3 col-xs-1" *ngFor="let transportType of transportTypes; let i = index;">
      <div class="custom-card-body">
          <a href="{{transportType.link}}">
            <img class="card-img-top" src="assets/images/transporttypes/type{{i}}.jpg" alt="{{transportType}}" />
            <div class="card-view-btn">
              <button class="btn btn-secondary">Explore</button>
            </div>
            <h5 class="card-title">{{transportType.name}}</h5>
          </a>
      </div>
    </div>
    
    
  </div>
</div>
