<div class="main-section row">
  <div class="section1 col-lg-4 col-sm-12">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eius? Sequi dolores, recusandae in vitae fugiat amet, at quibusdam tenetur quis cupiditate hic natus cum molestiae sapiente excepturi tempore voluptatum?</p>
  </div>

  <div class="section2 col-lg-4 col-sm-12">
      <div class="contact-section col-lg-6">
          <span>Contact Us</span><br>
          <span>+1 (857) 869-4562</span><br>
          <span><a href="mailto:adventureplanet@gmail.com"></a></span><br>
      </div>
      <div class="help-section col-lg-6"> 
          <span>Help</span><br>
          <span>FAQs</span><br>
          <span>Terms & Conditions</span><br>
          <span>Privacy Policies</span><br>
      </div>
      
  </div>

  <div class="section3 col-lg-4 col-sm-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eius? Sequi dolores, recusandae in vitae fugiat amet, at quibusdam tenetur quis cupiditate hic natus cum molestiae sapiente excepturi tempore voluptatum?</p>
  </div>

</div>
