.main-section{
    position: absolute;
    color: white;
    background-color: black;
}

.section1{
    position: relative;
}

.section2{
    position: relative;
}

.section2{
    position: relative;
}

.help-section{
    padding: 5%;
    position: relative;
    float: left;
    width: 50%;
    
}

.contact-section{
    padding: 5%;
    position: relative;
    float: right;
    width: 50%;
    top: 0%;
}

.socialmedia-section{
    position: relative;
    padding: 10%;
    top: 0%;
    width: 100%;
    height: 50%;
}
.logo-section{
    position: relative;
    width:100%;
    height:100%;
    background-color: aliceblue;
}
.logo-section >img{
    width:100%;
}