.main-section{
    position: absolute;
    color: white;
    background-color: black;
}

.section1{
    position: relative;
}

.section2{
    position: relative;
}

.section2{
    position: relative;
}

.help-section{
    position: relative;
    float: left;
    width: 50%;
    
}

.contact-section{
    position: relative;
    float: right;
    width: 50%;
    top: 0%;
}