<app-header></app-header>
<div class="container sites-container">
  <div class="site-deck row col-12" *ngFor="let transportSite of transportSites; let i = index;">
      <div class="site-card-left col-3">
          <div>
                <a href="{{transportSite.siteLink}}" target="none">
                    <img class="site-card-img" [src]="getImgData(transportSite.img)">
                </a>
          </div>
          
      </div>

      <div class="site-card-right col-9">
          
          <div class="row col-12">
              <div class="col-6 pl-0">
                  <a href="{{transportSite.siteLink}}" target="none" class="site-card-link row">{{transportSite.siteName}}</a>
                  <span class="text-secondary row">{{transportSite.siteDesc}}</span>
                  <br>
                  <br>

                  <div class="row">
                    <i class="material-icons float-left">email</i>
                    <a href="mailto:{{transportSite.email}}" class="ml-2 mr-3 text-secondary">Email</a>
                    
                    
                    <i class="material-icons float-left">contact_phone</i>
                    <a href="tel:{{transportSite.phone}}" class="ml-2 text-secondary">Phone</a>
                  </div>
                  
              </div>
              <div class="col-6 site-card-price-container">
                  <div class="site-card-rating">{{transportSite.siteRating}}*</div>
                  <span>From</span>
                  <br>
                  <h4 class="price">{{transportSite.rangeFrom}}/Day</h4>
              </div>
          </div>
          
      </div> 
      
  </div>
</div>