<app-header></app-header>
<div class="container blog-container">
    <div class="card">
        <div class="card-header">
          <b>Create Your Post</b>
        </div>
        <div class="card-body p-3">
            <div class="row ml-0">
                <i class="material-icons float-left">account_circle</i>
                <span class="ml-2">{{userName}}</span>
            </div>
            
            <textarea type="text" class="form-control mb-4 mt-3" [(ngModel)]="model.postDesc" name="postDesc" placeholder="Share your experience!!"></textarea>
            <input style="display: none" type="file" (change)="onFileChanged($event)" accept="image/*" #fileInput>
            <button class="badge badge-pill badge-light float-left" (click)="fileInput.click()">
                <i class="material-icons float-left">camera_alt</i><span class="photo-text float-right">Photo</span>
            </button>
            <span *ngIf="this.selectedFile && this.selectedFile.name" class="filename-text">{{this.selectedFile.name}}</span>
            <button class="btn btn-primary float-right" [disabled]="(!model.postDesc || !this.selectedFile || !this.selectedFile.name)" (click)="onUpload()">Upload</button>

        </div>
        
    </div>
  
  
  <div *ngIf="posts.length; else loading">
  <div class="card mt-5" *ngFor="let post of posts; let i = index;">
    <div class="card-body">
      <blockquote>
        <div class="row ml-0 post-header">
            <i class="material-icons float-left">account_circle</i>
            <span class="ml-2">{{post.email}}</span>
            <span class="date-text float-right">{{post.createdDate}}</span>
        </div>
        <hr>
        <p class="post-desc">
          <i class="fas fa-quote-left fa-2x"></i>
          <span class="ml-2 mr-2">{{post.postDesc}}</span>
          <i class="fas fa-quote-right fa-2x"></i>
        </p>
        <!--<img [src]="getImgData(post.img)" class="post-img">-->
        <img src="{{post.img}}" class="post-img">
        <div class="row post-icons">
          <i class="material-icons float-left like-btn" (click)="setlikes(post, true)" *ngIf="!post.liked">favorite_border</i>
          <i class="material-icons float-left like-btn" (click)="setlikes(post, false)" *ngIf="post.liked">favorite</i>
          <h5 class="float-left ml-1">{{post.likes}}</h5>
          <i class="material-icons float-right delete-icon" *ngIf="post.email === userEmail" (click)="deletePost(post._id)">delete</i>
        </div>
        <br>
        <br>
        <div class="row m-0">
          <h6>Comments({{post.comments.length}})</h6>
        </div>
        <div class="row col-12">
          <input type="text" class="form-control mb-2" [(ngModel)]="post.comment" (keydown)="onEnterKey($event, post)" name="postComment" placeholder="Comment here...">
        </div>

        <section>
          <div *ngFor="let comment of post.comments" class="mt-2">
            <h6 class="d-inline">{{comment.userName}}</h6>
            <span class="ml-3">{{comment.comment}}</span>
          </div>
        </section>
        
      </blockquote>
    </div>
  </div>
</div>
  <ng-template #loading>
      <div class="wrapper">
          <div class="loader"></div>
      </div>
  </ng-template>
</div>
<app-footer></app-footer>