@import "~bootstrap/dist/css/bootstrap.css"; 
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
    margin: 0;
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}