<app-header></app-header>
  <!-- Starting the parallax -->
    <div class="parallax_one">
      <div id="inparallax">
        <h1>Make your life Adventurous</h1>
      </div>
    </div>
    <br>
    <div id= introdiv>
        <p id="intro">If adventure sports and extreme activities press all your buttons, get ready for the trip of a lifetime</p>
      <div id="introimage">
          <video src="../assets/images/home/video1.mov" autoplay loop muted></video>
      </div>
    </div>
    <div id="parallax_two">
        <!-- <video src="../assets/video1.mov" autoplay loop muted></video> -->
    </div>

    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top w-100" src="../assets/images/home/adventure4.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">Scuba Diving</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top w-100" src="../assets/images/home/adventure5.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">Bungee Jumping</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
      
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top w-100" src="../assets/images/home/adventure6.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">River Rafting</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top  w-100" src="../assets/images/home/adventure7.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">Paragliding</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top  w-100" src="../assets/images/home/adventure8.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">Hiking</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top w-100" src="../assets/images/home/adventure9.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">WakeBoarding</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
      
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top w-100" src="../assets/images/home/adventure10.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">Mountain Biking</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card">
                  <img class="card-img-top w-100" src="../assets/images/home/adventure11.jpg" alt="Card image">
                  <div class="card-body">
                  <h4 class="card-title">Surfing</h4>
                  <a href="#" class="btn btn-primary">Experience It!</a>
              </div>
              </div>
          </div>
      </div>
    </div>

    <div id="parallax_three"></div>

    <div class="container">
      <div id="thirdbackground">
        <p id="book">Let's find an Adventure for you <button>Book Now!</button></p>
      </div>
    </div>
