<app-header></app-header>
<!-- Starting the parallax -->
<div class="parallax_one">
    <!-- <ngb-carousel style="height: 500px; position: absolute;">
        <ng-template ngbSlide>
          <img src="/../assets/adventure1.jpg" height="700px" width="100%" style="margin-left: 350px" alt="Random first slide">
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/../assets/adventure2.jpg" height="700px" alt="Random second slide">
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/../assets/adventure4.jpg" height="700px" alt="Random third slide">
          <div class="carousel-caption">
          </div>
        </ng-template>  
      </ngb-carousel> -->
  <div id="inparallax">
    <h1>Make your life Adventurous</h1>
  </div>
</div>
<br>
<div id= introdiv>
    <p id="intro">If adventure sports and extreme activities press all your buttons, get ready for the trip of a lifetime</p>
  <div id="introimage">
      <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" height="470px">
          <source src="../assets/images/home/Sail.mp4" type="video/mp4">
      </video>
  </div>
</div>

<div id="parallax_two">

</div>

<br>

<div class="container">
    <p style="text-align: center; color: aliceblue;">WHAT'S TRENDING</p>
    <br>  
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top w-100" src="/../assets/images/home/adventure4.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Scuba Diving</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
            </div>
        </div>
      <br>
      </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top w-100" src="/../assets/images/home/adventure5.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">Bungee Jumping</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top w-100" src="/../assets/images/home/adventure6.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">River Rafting</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top  w-100" src="/../assets/adventure9.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">Paragliding</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div>
      <br>
       <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top  w-100" src="/../assets/adventure9.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">Hiking</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top w-100" src="/../assets/adventure9.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">WakeBoarding</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top w-100" src="/../assets/adventure9.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">Mountain Biking</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="card">
              <img class="card-img-top w-100" src="/../assets/adventure9.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">Surfing</h4>
              <a href="#" class="btn btn-primary">Experience It!</a>
          </div>
          </div>
      </div> -->
  </div>
</div>

<br>

<div id="parallax_three"></div>

<div class="container">
  <div id="thirdbackground">
    <p id="book">ADVENTURE AWAITS.</p>
    <br>
    <a href=""><button id="discover">DISCOVER MORE</button></a>
  </div>
</div>

<div id="parallax_four"></div>
<app-footer></app-footer>