<div class="row card-section shadow" >

  <span>
    <button class="btn-default button">Book</button>
  </span>

  <div class="col-6 card-details">
    
    <h1 class="card-title">
      {{title}} (${{price}})
    </h1>
    <div class="package-deal">{{days}} days | 18+ | on Budget</div><br/>
    <div class="card-desc">
      <p>{{desc}}</p><br/><br/>
      <table class="table">
        <tr>
          <th>Cities</th>
          <td>{{cities}}}</td>
        </tr>
        <tr>
          <th>Departure City</th>
          <td>{{departureCity}}</td>
        </tr>
        <tr>
          <th>Departure Time</th>
          <td>{{departuteTime}}</td>
        </tr>
        <tr>
          <th>Return Time</th>
          <td>{{returnTime}}</td>
        </tr>
        <tr>
          <th>Dress Code</th>
          <td>{{dressCode}}}</td>
        </tr>
        <tr>
          <th>Included</th>
          <td>{{included}}}</td>
        </tr>
        <tr>
          <th>Not Included</th>
          <td>{{notIncluded}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-6 img-section">
    <img class="img img-fluid1" src="../../assets/banner-img.jpg" alt="">
  </div>
</div>