<div class="row card-section shadow" >

  <div class="btn-section">
    <button class="btn-default button">Book</button>
  </div>

  <div class="col-lg-6 card-details">
    
    <h1 class="card-title">
   
      {{this.title}} ({{this.price}})
    </h1>
    <div class="package-deal">{{this.days}} days | 18+ | on Budget</div><br/>
    <div class="card-desc">
      <p>{{this.desc}}</p><br/><br/>
      <table class="table">
        <tr>
          <th>Cities</th>
          <td>{{this.cities}}</td>
        </tr>
        <tr>
          <th>Departure City</th>
          <td>{{this.departureCity}}</td>
        </tr>
        <tr>
          <th>Departure Time</th>
          <td>{{this.departuteTime}}</td>
        </tr>
        <tr>
          <th>Return Time</th>
          <td>{{this.returnTime}}</td>
        </tr>
        <tr>
          <th>Dress Code</th>
          <td>{{this.dressCode}}</td>
        </tr>
        <tr>
          <th>Included</th>
          <td>{{this.included}}</td>
        </tr>
        <tr>
          <th>Not Included</th>
          <td>{{this.notIncluded}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-6 img-section">
    <img class="img img-fluid1" src="../../assets/banner-img.jpg" alt="">
  </div>
</div>